
body {
  background-color: #f2f2f2;
}
div.article {
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #cccccc;
    background-color: white;
    padding: 20px;
    width:600px;
}

img {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #cccccc;
  width: 600px;
}

img.type_article {
  border: none ;
  vertical-align: middle;
  width: 64px;
}


p {
  text-align: justify;
}

h4 {
  color: #cccccc;
}
h4.comment {
  color: #000000;
}

h3 {
  align-content: center;
}
input[type=text] {
    font-size: 13px;
    border: none;
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    border-top: 2px solid #f2f2f2;
    outline: none;

}

/*input[type=text]:focus {
    border-top: 2px solid #cccccc;
}*/
